In [4]:
import GetOldTweets3 as got
import pandas as pd

In [5]:
# Function that pulls tweets based on a general search query and turns to csv file

# Parameters: (text query you want to search), (max number of most recent tweets to pull from)
def text_query_to_csv(text_query, count):

    tweet_list = []
    # Creation of query object
    tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query)\
                       .setSince('2020-01-01').setUntil('2020-09-1').setMaxTweets(count)
    # Creation of list that contains all tweets
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)

    # Creating list of chosen tweet data
    text_tweets = [[tweet.created_at, tweet.text, tweet.id] for tweet in tweets]

    
    # Creation of dataframe from tweets
    tweets_df = pd.DataFrame(text_tweets, columns = ['date', 'text', 'id'])

    # Converting tweets dataframe to csv file
    tweets_df.to_csv('test.csv', sep=';', encoding='utf-8-sig')

In [3]:
text_query = 'Covid Danmark'
count = 50000


text_query_to_csv(text_query, count)

AttributeError: 'Tweet' object has no attribute 'created_at'

In [16]:
data = pd.read_csv('test.csv', sep=';')

data = data.drop('Unnamed: 0', axis=1).drop_duplicates(subset='text', keep='last', inplace=False)\
       .reset_index(drop=True).lower('Text')

data['text'] = data['text'].str.lower()

data['datetime'] = data['datetime'].str[0:10]

data

AttributeError: 'DataFrame' object has no attribute 'lower'

In [4]:
from afinn import Afinn

afinn = Afinn(language='da')

data['afinn'] = [afinn.score(text) for text in data.text]

data

,Datetime,Text,ID,afinn
0,2020-08-23,Det er sygt hvad Danmark er på vej hen i mod. ...,1297465537539313666,-8.0
1,2020-08-23,"Hvis Danmark have haft samme kaos som i USA, h...",1297438838407798785,-13.0
2,2020-08-23,I danmark døde 119 personer med influenza i sæ...,1297432968563249153,-5.0
3,2020-08-22,"10 dage uden døde, COVID-19, og 622 døde i alt...",1297196201419382787,-5.0
4,2020-08-22,DTs analyser af udviklingen i Covid i USA og D...,1297178800950738944,-3.0
...,...,...,...,...
2453,2020-02-22,Danmark støtter med 8 mio. kr. til den interna...,1231256888232337408,1.0
2454,2020-02-22,Danmark støtter med 8 millioner kroner til den...,1231221870084730880,1.0
2455,2020-02-22,Danmark bidrager med 8 millioner kroner til WH...,1231193867875123201,0.0
2456,2020-02-22,Bra att Sveriges regering håller en rimlig lin...,1231130311423033344,0.0
2457,2020-02-13,*Covid-19 raser i Kina* Go’ morgen Danmark: “k...,1227878391929589762,-2.0

In [5]:
data['afinn'].sum()

-1507.0

In [15]:
mette = data.text.str.contains('mette')

mette

0       False
1       False
2       False
3       False
4       False
        ...
2453    False
2454    False
2455    False
2456    False
2457    False
Name: Text, Length: 2458, dtype: bool